<header><h5>Candidatos a Papa - 2025</h5></header>

<div class="container mt-4">
    <app-candidatos-detail *ngIf="selectedCandidato" [candidato]="selectedCandidato"></app-candidatos-detail>
  <div class = "row row-cols-1 row-cols-md-3 g-4">
    <div class="col" *ngFor="let candidato of Candidatos" (click)="candidatoSeleccionado(candidato)">
      <div class="card h-100">
        <div class="card-body">
            <img [src]="candidato.foto" class="card-img-top" alt="{{candidato.foto}}">
            <h4 class="card-title">{{candidato.nombre}}</h4>
            <p class="card-text"> {{candidato.vertiente_religiosa}}</p>
            <p class="card-text"> <strong>Edad:</strong>{{candidato.edad}}</p>
            <p class="card-text"> <strong>País:</strong>{{candidato.pais_origen}}</p>
        </div>
      </div>
     </div>   
     <p> El proximo Papa será: </p>
    </div>

  </div>

    
