<div class="card mt-4">
  <div class="row g-0">
    <div class="col-md-4">
      <img [src]="candidato?.foto" class="img-fluid rounded-start" alt="{{candidato?.foto}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ candidato?.nombre }}</h5>
        <hr>
        <dl>
          <dt>Pais de origen</dt>
          <dd>{{ candidato?.pais_origen }}</dd>

          <dt>Vertiente Religiosa</dt>
          <dd>{{ candidato?.vertiente_religiosa }}</dd>

          <dt>Edad</dt>
          <dd>{{ candidato?.edad }}</dd>

        </dl>
      </div>
    </div>
  </div>
</div>
